
<div class="main-container">
  <div class="converter">
    <h2>Конвертер валют</h2>
    <div class="container-valute">
      <div class="choise-valute">
        <mat-form-field appearance="fill">
          <mat-label>У нас имеется</mat-label>
          <mat-select [(value)]="selectedHave">
            <mat-option value="AUD">Австралийский доллар</mat-option>
            <mat-option value="AZN">Азербайджанский манат</mat-option>
            <mat-option value="GBP">Фунт стерлингов Соединенного королевств</mat-option>
            <mat-option value="AMD">Армянский драм</mat-option>
            <mat-option value="BYN">Белорусский рубль</mat-option>
            <mat-option value="BGN">Болгарский лев</mat-option>
            <mat-option value="BRL">Бразильский реал</mat-option>
            <mat-option value="HUF">Венгерский форинт</mat-option>
            <mat-option value="HKD">Гонконгский доллар</mat-option>
            <mat-option value="DKK">Датская крона</mat-option>
            <mat-option value="USD">Доллар США</mat-option>
            <mat-option value="EUR">Евро</mat-option>
            <mat-option value="INR">Индийский рупий</mat-option>
            <mat-option value="KZT">Казахстанский тенге</mat-option>
            <mat-option value="CAD">Канадский доллар</mat-option>
            <mat-option value="KGS">Киргизский сом</mat-option>
            <mat-option value="CNY">Китайский юань</mat-option>
            <mat-option value="MDL">Молдавский леев</mat-option>
            <mat-option value="NOK">Норвежский крон</mat-option>
            <mat-option value="PLN">Польский злотый</mat-option>
            <mat-option value="RON">Румынский лей</mat-option>
            <mat-option value="XDR">СДР (специальные права заимствования)</mat-option>
            <mat-option value="SGD">Сингапурский доллар</mat-option>
            <mat-option value="TJS">Таджикский сомони</mat-option>
            <mat-option value="TRY">Турецкая лира</mat-option>
            <mat-option value="TMT">Новый туркменский манат</mat-option>
            <mat-option value="UZS">Узбекский сум</mat-option>
            <mat-option value="UAH">Украинская гривна</mat-option>
            <mat-option value="CZK">Чешская крона</mat-option>
            <mat-option value="SEK">Шведская крона</mat-option>
            <mat-option value="CHF">Швейцарский франк</mat-option>
            <mat-option value="ZAR">Южноафриканский рэнд</mat-option>
            <mat-option value="KRW">Вон Республики Корея</mat-option>
            <mat-option value="JPY">Японская иена</mat-option>  
          </mat-select>
        </mat-form-field>
      </div>
      <div class="choise-valute">
        <mat-form-field appearance="fill">
          <mat-label>Получим</mat-label>
          <mat-select [(value)]="selectedWant">
            <mat-option value="AUD">Австралийский доллар</mat-option>
            <mat-option value="AZN">Азербайджанский манат</mat-option>
            <mat-option value="GBP">Фунт стерлингов Соединенного королевств</mat-option>
            <mat-option value="AMD">Армянский драм</mat-option>
            <mat-option value="BYN">Белорусский рубль</mat-option>
            <mat-option value="BGN">Болгарский лев</mat-option>
            <mat-option value="BRL">Бразильский реал</mat-option>
            <mat-option value="HUF">Венгерский форинт</mat-option>
            <mat-option value="HKD">Гонконгский доллар</mat-option>
            <mat-option value="DKK">Датская крона</mat-option>
            <mat-option value="USD">Доллар США</mat-option>
            <mat-option value="EUR">Евро</mat-option>
            <mat-option value="INR">Индийский рупий</mat-option>
            <mat-option value="KZT">Казахстанский тенге</mat-option>
            <mat-option value="CAD">Канадский доллар</mat-option>
            <mat-option value="KGS">Киргизский сом</mat-option>
            <mat-option value="CNY">Китайский юань</mat-option>
            <mat-option value="MDL">Молдавский леев</mat-option>
            <mat-option value="NOK">Норвежский крон</mat-option>
            <mat-option value="PLN">Польский злотый</mat-option>
            <mat-option value="RON">Румынский лей</mat-option>
            <mat-option value="XDR">СДР (специальные права заимствования)</mat-option>
            <mat-option value="SGD">Сингапурский доллар</mat-option>
            <mat-option value="TJS">Таджикский сомони</mat-option>
            <mat-option value="TRY">Турецкая лира</mat-option>
            <mat-option value="TMT">Новый туркменский манат</mat-option>
            <mat-option value="UZS">Узбекский сум</mat-option>
            <mat-option value="UAH">Украинская гривна</mat-option>
            <mat-option value="CZK">Чешская крона</mat-option>
            <mat-option value="SEK">Шведская крона</mat-option>
            <mat-option value="CHF">Швейцарский франк</mat-option>
            <mat-option value="ZAR">Южноафриканский рэнд</mat-option>
            <mat-option value="KRW">Вон Республики Корея</mat-option>
            <mat-option value="JPY">Японская иена</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

      <div class="enter-data">
        <input type="number" min="0" oninput="validity.valid||(value='');" [(ngModel)]="enterNumberValute">
        <input type="number" value={{convertValue}}>
      </div>
      <div class="buttons">
        <button on-click="showResult()">Конвертировать</button>
        <button on-click="showHistory()">История</button>
        <button on-click="showStat()">Статистика</button>
      </div>
  </div>

  
  <div class="stat">
    <h2>Статистика для указанной пары валют</h2>
    <p>Cредний курс конвертации пары валют за неделю - <output>{{avg}}</output></p>
    <p>Суммарный объем конвертаций пары валют за неделю - <output>{{numberConvertion}}</output></p>
  </div>

  <div class="history">
    <h2>История конвертаций</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Валюта 1</th>
          <th scope="col">Количество</th>
          <th scope="col">Валюта 2</th>
          <th scope="col">Количество</th>
          <th scope="col">Курс обмена</th>
          <th scope="col">Дата</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of historyConvertions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ history.haveValute }}</td>
          <td>{{ history.haveValue }}</td>
          <td>{{ history.wantValute }}</td>
          <td>{{ history.wantValue }}</td>
          <td>{{ history.course }}</td>
          <td>{{ history.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>