.main-container {
    width: 700px;
}
.converter {
    margin-bottom: 20px;
}

.converter h2 {
    text-align: center;
}

.container-valute {
    display: flex;
    margin-bottom: 10px;
}

.choise-valute {
    width: 350px;
}

.choise-valute mat-form-field {
    margin-left: 25px;
    margin-right: 25px;
    width:300px;
    height: 50px;
}

.enter-data {
    display: flex;
    margin-bottom: 10px;
}

.enter-data input {
    border: none;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    width:300px;
    height: 50px;
    background: antiquewhite;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.buttons {
    display: flex;
}

.buttons button {
    background: antiquewhite;
    box-shadow: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.stat h2,
.stat p {
    text-align: center;
    margin-bottom: 10px;
}

.stat {
    background-color: antiquewhite;
    padding-bottom: 10px;
}

.history h2 {
    text-align: center;
}